::-webkit-scrollbar {
    width: 30%;
  }
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.698); 
  border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(206, 208, 211, 0.377); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(42, 96, 167, 0.733); 
}
  
.seminaries {
    height: 85%;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    align-content: flex-start;
}

.add {
    height: 45%;
    width: 15%;
    border-radius: 10%;
    border: 4px dotted rgba(255, 255, 255, 0.212);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semloop {
    min-height: 75%;
    min-width: 70%;
    margin-left: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll; 
    overflow-y: hidden;
}

.seminary {
    height: 100%;
    min-width: 20%;
    border-radius: 20px;
    background: rgba(38, 40, 51, 0.349);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    max-width: 30%;
    overflow: auto;
}

.seminary h3, h2 {
  color:#FFFFFF;
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
    display:inline-block;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    font-size: 200%;
    cursor: pointer;
    }

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }